:root {
    --color1: #013F5E;
    --color2: lightblue;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header { 
    padding: 20px 35px;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--color1);
    top: 0;
    background-color: var(--color2);
    padding-left: 2em;
}

header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--color2);
}
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url("./assets/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}
.subtitle h3 {
    background-color: var(--color2);
    color: var(--color1);
    margin: 10em 1em 1em 35em;
    position: relative;
    padding: 0.3em 0.3em 0.3em 0.3em;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:31px;
}
.container h2 {
    border-right: 5px solid var(--color1);
    padding-right: 5px;
}

.container p {
    flex-basis: 50%;
    padding-left: 5px;
}
#about-me {
    text-align: right;
}
#contact-me {
    text-align:right;
}
#work {
    text-align:right;
}
h2#work {
        height:200px;  
}
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 31px;
}
.container2 h2 {
    border-right: 5px solid var(--color1);
}

.container2 p {
    flex-basis: 50%;
    padding-left: 5px;
}
.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 31px;
}
.container3 h2 {
    border-right: 5px solid var(--color1);
    padding-right: 5px;
}

.container3 ul li {
    flex-basis: 50%;
    padding-left: 5px;
    list-style: none;
}
.wrapper {
    display: grid;
    grid-auto-flow: dense;

    grid-column-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    background-color:#ffffff;
    grid-row-gap: 5px; 
    grid-template-rows: repeat(12, 1fr);
}

  .box::before {
    position: absolute;
    background-color: orange;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    transition: opacity 0.3s ease;
  }
  .box:hover::before {
    transition: opacity 0.3s ease;
    opacity: 0.5;
  }
.box {
    display: flex;
    /* height: 200px; */
    min-width: 205px; 
    grid-column: span 4;
    grid-row: span 4;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid black;
}
    /* .box:nth-child(1){

    } */
.box1{
    background: url(./assets/images/IHT.jpg) no-repeat center/cover;
    grid-column: span 8;
    grid-row:  span 8;
}
.box2{
    background: url(./assets/images/gfox.jpg) no-repeat center/cover;
   
}
.box3{
    background: url(./assets/images/IHT.jpg) no-repeat center/cover;
   
}
.box4{
    background: url(./assets/images/IHT.jpg) no-repeat center/cover;
    
}
.box5{
    background: url(./assets/images/IHT.jpg) no-repeat center/cover;
}
/* Contact Me Section */
#contact ul {
    flex: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  #contact ul li a {
    padding: 5px 10px;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    transition: all .1s ease-in;
  }
  
  #contact li:hover a {
    color: var(--secondary-color);
    background: var(--primary-color);
    border: none;
  }
@media screen and (max-width: 600px) {
    
}
